/*changes the hours input box to a different color and size*/
#Hours {
    width: 150px;
    height: 25px;
    font-size: 20px;
    padding: 10px;
    border: 2px solid greenyellow;
    background-color: whitesmoke;
    border-radius: 5px;
}

    /*adds a glow around the box when hours is clicked on*/
    #Hours:focus {
        border-color: greenyellow;
        box-shadow: 0 0 15px greenyellow;
        outline: none;
    }

/*changes the font and the color of the web page background*/
body {
    background-color: #f0f4f8;
    color: #333;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/*changes the totalHours input box to a different color and size*/
#totalHours {
    width: 300px;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 8px;
    background-color: whitesmoke;
}

    /*adds a glow around the box when totalHours is clicked on*/
    #totalHours:focus {
        border-color: red;
        box-shadow: 0 0 10px red;
        outline: none;
    }
