body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    text-align: center;
    background-image: url('skiing.jpg'); 
    background-size: cover; 
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for contrast */
    padding: 20px; /* Add padding to the container */
    border-radius: 10px; /* Optional: add rounded corners */
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.skiing-loginin{
    width: 300px;
    height: 300px;
}
.logo {
    padding: 0 20px;
    border: 2px solid black;
}

.logo h1 {
    margin: 0;
    font-size: 48px;
    line-height: 1.2;
    font-weight: normal;
   
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 200px;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #000;
    border-radius: 4px;
}

.login-form button {
    padding: 10px 20px;
    margin: 10px 0;
    border: 2px solid #000;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s;
    border-radius: 4px;
    font-weight: bold;
}

.login-form button:hover {
    background-color: #000;
    color: #fff;
}

.forgot-password {
    text-decoration: none;
    color: black;
    margin-top: 10px;
}
