/*Home*/
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* CSS for dark mode */

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode header {
    background-color: #333333; /* Set header background to gray */
    color: #ffffff;
}

body.dark-mode #search-results {
    background-color: black;
    color: #ffffff;
}

.dark-mode-toggle {
    margin-left: auto;
    font-weight: bold;
    background-color: black;
    color: white;
    border: 3px solid gray; 
    padding: 5px 7px; 
    border-radius: 8px; 
    cursor: pointer;
}

.dark-mode-toggle.dark-mode-enabled {
    background-color: #28a745; /* Green color */
    color: white;
}

body.dark-mode .resort-card {
    background-color: gray; 
    color: white; 
    border-bottom: 2px solid darkgray; 
}

body.dark-mode .resort-card h3 {
    color: white; 
}


body.dark-mode .resort-details {
    color: lightgray; 
}

/* End of CSS for dark mode */



.nav-buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.skilogger-button {
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 10px;
    height: 55px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.account-button {
    margin-right: 5px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 10px;
    height: 55px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    align-content: center;
}

.home-page .login-button {
    margin-right: 5px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.home-page .signup-button {
    margin-right: 5px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 10px;
    width: 75px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-bar {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    font-weight: bold;
}

input[type="search"]::-webkit-search-cancel-button {
    cursor: pointer;
}

/*Nav Buttons When hovered on*/
.skilogger-button:hover {
    background-color: darkblue;
}

.account-button:hover{
    background-color: darkblue;
}

.search-button:hover{
    background-color:darkblue;
}

.to-login-button:hover{
    background-color:darkblue;
}

.to-signup-button:hover{
    background-color:darkblue;
}

.resort-card:hover {
    background-color: lightgray;
}

.resort-rating:hover{
    background-color:darkblue;
}

#return-home:hover{
    background-color:darkblue;
}

#return-home:hover {
    background-color: darkblue;
}

/* Search */

.resort-card {
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    border-bottom: 2px solid #ddd;
    padding: 6px 6px;
    width: 90%;
    background-color: white;
    font-family: Arial, sans-serif;
}

    .resort-card h3 {
        font-size: 1em;
        color: black;
        margin: 0 0 4px;
        align-self: center;
    }

    .resort-card img {
        height: 100px;
        width: 100px;
    }

    .resort-card th, .resort-card td {
        text-align: center;
        font: bold 12px arial;
    }

.resort-details {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #222;
    font-size: 0.8em;
    font-weight: 500;
}

.piechart {
    
}

.acreage-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px 20px 5px 50px;
}

.other-resort-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px 5px 10px;
}

.resort-rating {
    padding: 6px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 8px;
    align-self: center;
}

#search-results {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

/*All for sk-logger*/

.ski-logger header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.ski-logger .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ski-logger .search-bar {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.ski-logger #hoursSpent-text {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ski-logger .container {
    display: flex;
    height: 80vh;
}

.ski-logger .search-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    font-weight: bold;
}

.ski-logger input[type="search"]::-webkit-search-cancel-button {
    cursor: pointer;
}

.ski-logger #return-home {
    margin-left: 3%;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 150px;
    text-decoration: none;
    text-align: center;
}

.ski-logger .left {
    width: 65%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.ski-logger .right {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}
/*changes the font and the color of the web page background*/
.ski-logger body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}


/*changes the totalHours input box to a different color and size*/
.ski-logger #totalHours {
    width: 150px;
    height: 50px;
    font-size: 25px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 8px;
    background-color: whitesmoke;
    text-align: center;
}

/*adds a glow around the box when totalHours is clicked on*/
.ski-logger #totalHours:focus {
    border-color: red;
    box-shadow: 0 0 10px red;
    outline: none;
}

.ski-logger #SkiTripList {
    list-style: none;
    padding-left: 0;
}

.ski-logger #SkiTripList li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ski-logger #SkiTripList li:hover {
    background-color: #f0f8ff;
}

.ski-logger #SkiingLeaderboard {
    list-style: decimal;
    padding-left: 20px;
}

.ski-logger #SkiingLeaderboard {
    list-style: decimal;
    padding-left: 20px;
}

.ski-logger #SkiingLeaderboard li {
    padding: 8px 0;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ski-logger #SkiingLeaderboard li:hover {
    background-color: #f0f8ff;
}
