/*Home*/
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.skilogger-button {
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 10px;
    height: 55px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.account-button {
    margin-right: 5px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 10px;
    height: 55px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    align-content: center;
}

.to-login-button {
    margin-right: 5px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.to-signup-button {
    margin-right: 5px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 10px;
    width: 75px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-bar {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    font-weight: bold;
}

input[type="search"]::-webkit-search-cancel-button {
    cursor: pointer;
}

.resort-list {
    max-height: 70vh;
    overflow-y: auto;
    padding: 20px;
}

.resort-card {
    display: flex;
    margin: auto;
    align-items: center;
    background-color: white;
    padding: 20px;
    width: 1000px;
    height: 500px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resort-logo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.resort-details {
    flex-grow: 1;
}

.resort-details a {
    color: black;
    text-decoration: none;
}

.resort-details a:hover {
    color: #007bff;
}

.resort-details h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.resort-details p {
    color: #555;
}

.resort-rating {
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2em;
}

/*Nav Buttons When hovered on*/
.skilogger-button:hover {
    background-color: darkblue;
}

.account-button:hover{
    background-color: darkblue;
}

.search-button:hover{
    background-color:darkblue;
}

.to-login-button:hover{
    background-color:darkblue;
}

.to-signup-button:hover{
    background-color:darkblue;
}

.resort-card:hover {
    background-color: lightgray;
}

.resort-rating:hover{
    background-color:darkblue;
}

#return-home:hover{
    background-color:darkblue;
}